<div class="header">
  <img
    class="pokeSilloute"
    src="assets/flareonSilloute.png"
    style="width: auto"
    (click)="evolveEvee(EVEETYPES.FLAREON)"
  />
  <img
    class="pokeSilloute"
    src="assets/jolteonSilloute.png"
    (click)="evolveEvee(EVEETYPES.JOLTEON)"
  />
  <img
    class="pokeSilloute"
    src="assets/vaporeonSilloute.png"
    (click)="evolveEvee(EVEETYPES.VAPOREON)"
  />
</div>
<section class="wrap" *ngIf="!eeveeTime">
  <div class="ball">
    <div class="ball__top"></div>
    <div class="ball__button"></div>
    <div class="ball__bottom"></div>
  </div>
  <div class="ballShadow"></div>
</section>
<section class="wrap" *ngIf="eeveeTime">
  <img src="../../../assets/eevee.png" *ngIf="eveeState == EVEETYPES.BASE" />
  <img
    src="../../../assets/flareon.png"
    *ngIf="eveeState == EVEETYPES.FLAREON"
  />
  <img
    src="../../../assets/jolteon.png"
    *ngIf="eveeState == EVEETYPES.JOLTEON"
  />
  <img
    src="../../../assets/vaporeon.png"
    *ngIf="eveeState == EVEETYPES.VAPOREON"
  />
</section>
