<button (click)="evolveEvee(EVEETYPES.FLAREON)">Flareon</button>
<button (click)="evolveEvee(EVEETYPES.JOLTEON)">Jolteon</button>
<button (click)="evolveEvee(EVEETYPES.VAPOREON)">Vaporeon</button>
<section class="wrap" *ngIf="!eeveeTime">
  <div class="ball">
    <div class="ball__top"></div>
    <div class="ball__button"></div>
    <div class="ball__bottom"></div>
  </div>
  <div class="ballShadow"></div>
</section>
<section class="wrap" *ngIf="eeveeTime">
  <img src="assets/eevee.png" *ngIf="">
  <img src="assets/flareon.png">
  <img src="assets/jolteon.png">
  <img src="assets/vaporeon.png">
</section>

