<img src="assets/red.jpeg" />
<div class="header">
  <h1>Evolution</h1>
</div>
<div class="stones-toolbar">
  <div [ngClass]="['stones-container', selectedStone === STONETYPES.FIRE ? 'selected' : '']">
    <img (click)="selectedStone = STONETYPES.FIRE" class="stones" src="assets/fire_stone.png" />
  </div>
  <div [ngClass]="['stones-container', selectedStone === STONETYPES.THUNDER ? 'selected' : '']">
    <img (click)="selectedStone = STONETYPES.THUNDER" class="stones" src="assets/thunder_stone.png" />
  </div>
  <div [ngClass]="['stones-container', selectedStone === STONETYPES.WATER ? 'selected' : '']">
    <img (click)="selectedStone = STONETYPES.WATER" class="stones" src="assets/water_stone.png" />
  </div>
</div>
<div #placeHolder></div>
