.stones {
    width: 75px;
    height: 75px;
  padding: 1em;
}

.selected {
  background-color: #999999;
  border-radius: 1em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stones-toolbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
